<section  data-ng-controller="HomeController">
	<div class="row">

		<div class="col-sm-6">
				<div class="row">
					<div class="col-xs-12">
							<button type="button" class="btn btn-success btn-lg btn-block">View Favourate Restaurants
								<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
							</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
					<span class="text-muted">	45 Favourite Restaurants</span>
					</div>
				</div>
		</div>

		<div class="col-sm-6">
				<div class="row">
					<div class="col-xs-12">
							<button type="button" class="btn btn-success btn-lg btn-block">View Crumbs Balance
								<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
							</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
					<span class="text-muted">	$4,500.00 in crumbs </span>
					</div>
				</div>
		</div>

	</div>

	<div class="row">

		<div class="col-sm-6">
				<div class="row">
					<div class="col-xs-12">
							<button type="button" class="btn btn-success btn-lg btn-block">View Your Orders
								<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
							</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<span class="text-muted"> 2000 total orders </span>
					</div>
				</div>
		</div>

		<div class="col-sm-6">
				<div class="row">
					<div class="col-xs-12">
							<button type="button" class="btn btn-success btn-lg btn-block">Top Up Your Account
								<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
							</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<span class="text-muted"> Last topped up on January 21, 2015 </span>
					</div>
				</div>
		</div>

	</div>


	</div>
</section>
